/*I tried to do style in the order of apperance from top to bottom.*/

body {
  background-color: blueviolet;
}

img {
   display:block;
   margin-left: auto;
   margin-right: auto;
   width:50%;
}


h2 {
  display: block;
  font-size: 2.5vw;
  font-weight: bold;
  color:gold;
  text-align: center;
}


p {
   color:white;
   font-size: 1.5vw;
   font-family: Arial, Helvetica, sans-serif;
   margin: 35px 80px;
   text-align: left;
}

a:link {
  background-color: white;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button.b1 {
  background-color: gold;
}

.b1:hover {
  background-color: gold;
}

